@page "/book/{BookId:int}"
@using PageKeep.Services

@inject dbcontext.AppDbContext DbContext
@inject BookService BookService
@inject NavigationManager NavManager
@inject ReviewService ReviewService
@inject AuthenticationStateProvider AuthStateProvider
@rendermode InteractiveServer

@if (_currentBook != null)
{
    <div class="page-container">
        <div class="side-panel left"></div>
        <div class="main-content">
            <div class="container-book">
                <div class="book-image-container">
                    <img src="@GetBookImageUrl()" alt="@_currentBook.Title" />
                </div>
                <div class="text-container">
                    <h2>@_currentBook.Title</h2>
                    <p>Autor: @_currentBook.Author</p>
                    <p>@_currentBook.Description</p>
                    <button class="buy-button">Kúpiť za @_currentBook.Price €</button>
                    <div class="genres">
                        <h3>Žánre</h3>
                        @if (_currentBook.BookGenres.Any())
                        {
                            <ul>
                                @foreach (var bookGenre in _currentBook.BookGenres)
                                {
                                    <li>@bookGenre.Genre.Name</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>Táto kniha nemá priradené žánre.</p>
                        }
                    </div>

                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <div class="admin-actions">
                                <button class="btn-delete" @onclick="NavigateToEditBook">Upraviť</button>
                                <button class="btn-delete" @onclick="DeleteBook">Vymazať</button>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>

            <AuthorizeView Roles="User">
                <Authorized>
                    <div class="add-review">
                        <h3>Pridať recenziu</h3>
                        <EditForm Model="@_newReviewModel" OnValidSubmit="SubmitReview" FormName="formAddReviewModel" Context="contextAddReview">
                            <DataAnnotationsValidator />

                            <div class="form-group">
                                <label for="content">Recenzia</label>
                                <InputTextArea id="content" @bind-value="_newReviewModel.Content" class="form-control" />
                                <ValidationMessage For="() => _newReviewModel.Content" class="validation-errors" />
                            </div>

                            <button type="submit" class="btn btn-primary">Pridať recenziu</button>
                        </EditForm>
                    </div>
                </Authorized>
            </AuthorizeView>

            <div class="reviews">
                <h3>Recenzie</h3>
                @if (_reviews != null && !_reviews.Any())
                {
                    <p>Zatiaľ nie sú k dispozícii žiadne recenzie.</p>
                }
                else
                {
                    @if (_reviews != null)
                    {
                        foreach (var review in _reviews.Take(3))
                        {
                            <div class="review">
                                <h4>@review.ReviewerName</h4>
                                <p>@review.Content</p>
                                <small>@review.CreatedAt.ToString("d. MMM yyyy")</small>
                            </div>
                        }
                    }
                }
            </div>

            <div class="show-all-reviews">
                <button class="btn-full-width" @onclick="NavigateToAllReviews">Zobraziť všetky recenzie</button>
            </div>
        </div>

        <div class="side-panel right"></div>
    </div>
}
else
{
    <div class="container">
        <h2>Kniha nenájdená</h2>
        <p>Prepáčte, ale kniha s ID @BookId sa nenašla.</p>
    </div>
}

@code {
    [Parameter]
    public int BookId { get; set; }
    private UserAccount? _currentUser;
    private BookModel? _currentBook;

    private List<ReviewModel>? _reviews;
    private ReviewModel _newReviewModel = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        _currentBook = await BookService.GetBookByIdAsync(BookId);
        _reviews = await ReviewService.GetReviewsAsync(BookId);

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            string? username = user.Identity.Name;
            _currentUser = await DbContext.Users.FirstOrDefaultAsync(u => u.Username == username);
        }
    }


    private string GetBookImageUrl()
    {
        if (_currentBook?.ImageFile != null && _currentBook.ImageFile.Length > 0)
        {
            return $"data:image/jpeg;base64,{Convert.ToBase64String(_currentBook.ImageFile)}";
        }

        if (!string.IsNullOrEmpty(_currentBook?.Image))
        {
            return _currentBook.Image;
        }

        return "placeholder_image_url";
    }


    private void NavigateToEditBook()
    {
        NavManager.NavigateTo($"/edit-book/{BookId}");
    }

    private async Task DeleteBook()
    {
        if (_currentBook != null)
        {
            await BookService.DeleteBookAsync(BookId);
            NavManager.NavigateTo("/");
        }
    }

    private async Task SubmitReview()
    {
        if (_currentUser != null)
        {
            var review = new ReviewModel
            {
                BookId = BookId,
                UserId = _currentUser.Id,
                ReviewerName = _currentUser.Username,
                Content = _newReviewModel.Content,
            };
            await ReviewService.AddReviewAsync(review);
        }

        _reviews = await ReviewService.GetReviewsAsync(BookId);
    }

    private void NavigateToAllReviews()
    {
        NavManager.NavigateTo($"/reviews/{BookId}");
    }
}