@page "/"

@inject BookViewModel BookVM

<section id="home" class="home">
    <div class="container">
        <h2>Vitajte v našom knižnom eshope!</h2>
        <p>Objavte svoju ďalšiu obľúbenú knihu.</p>
    </div>
</section>

<section class="home-books" id="books">
    <div class="container">
        <h2>Najpredávanejšie knihy</h2>
        <div class="book-grid">
            @if (books == null || !books.Any())
            {
                <p>Momentálne nemáme žiadne knihy v ponuke.</p>
            }
            else
            {
                @foreach (var book in books.Take(3))
                {
                    <a href="/book/@book.Id" class="book">
                        <img src="@GetBookImage(book)" alt="@book.Title" />
                        <h3>@book.Title</h3>
                        <p>Autor: @book.Author</p>
                        <p>Cena: @book.Price €</p>
                    </a>
                }
            }
        </div>
    </div>
</section>

@code {
    private List<BookModel>? books;

    protected override async Task OnInitializedAsync()
    {
        books = await BookVM.GetAllBooksAsync();
    }

    private string GetBookImage(BookModel book)
    {
        if (book.ImageFile != null)
        {
            return $"data:image/jpeg;base64,{Convert.ToBase64String(book.ImageFile)}";
        }
        return book.Image;
    }
}