@page "/reviews/{BookId:int}"

@inject dbcontext.AppDbContext DbContext
@inject ReviewService ReviewService
@inject AuthenticationStateProvider AuthStateProvider
@rendermode InteractiveServer

<h3 class ="review-title">Recenzie pre knihu</h3>

<div class="review-grid">

    @if (ReviewList == null || !ReviewList.Any())
    {
        <p>Zatiaľ nie sú k dispozícii žiadne recenzie.</p>
    }
    else
    {
        @foreach (var review in ReviewList)
        {
            <div class="review-card">
                <div class="review-header">
                    <h4>@review.ReviewerName</h4>
                </div>

                @if (review.Id == EditingReviewId)
                {
                    <EditForm Model="@EditingReview" OnValidSubmit="SaveEditedReview">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <textarea @bind="EditingReview.Content" class="edit-textarea form-control"></textarea>
                            <ValidationMessage For="@(() => EditingReview.Content)" class="validation-errors" />
                        </div>

                        <div class="review-actions">
                            <button type="submit" class="btn-save-review">Uložiť</button>
                            <button type="button" class="btn-cancel-review" @onclick="CancelEdit">Zrušiť</button>
                        </div>
                    </EditForm>
                }
                else
                {
                    <div class="review-content">
                        <p>@review.Content</p>
                        <small>@review.CreatedAt.ToString("d. MMM yyyy")</small>

                        @if (CurrentUser != null)
                        {
                            @if (review.UserId == CurrentUser.Id || CurrentUser.Role == "Admin")
                            {
                                <div class="review-actions">
                                    @if (CurrentUser.Role == "User")
                                    {
                                        <button class="btn-edit-review" @onclick="() => StartEditing(review)">Upraviť</button>
                                    }
                                    <button class="btn-delete-review" @onclick="() => DeleteReview(review.Id)">Vymazať</button>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        }
    }
</div>
@code {
    [Parameter]
    public int BookId { get; set; }
    private List<ReviewModel> ReviewList = new();
    private ReviewModel EditingReview = new();
    private UserAccount? CurrentUser;
    private int? EditingReviewId = null;
    private string EditingReviewContent = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            string username = user.Identity.Name;
            CurrentUser = await DbContext.Users.FirstOrDefaultAsync(u => u.Username == username);
        }
        ReviewList = await ReviewService.GetReviewsAsync(BookId);
    }

    private void StartEditing(ReviewModel review)
    {
        EditingReviewId = review.Id;
        EditingReview = new ReviewModel()
            {
                Id = review.Id,
                Content = review.Content,
                UserId = review.UserId,
                CreatedAt = review.CreatedAt
            };
    }

    private async Task SaveEditedReview()
    {
        await ReviewService.EditReviewAsync(EditingReview.Id, EditingReview.Content, EditingReview.UserId);
        EditingReviewId = null;
        EditingReview = new();
    }

    private void CancelEdit()
    {
        EditingReviewId = null;
        EditingReviewContent = "";
    }

    private async Task DeleteReview(int reviewId)
    {
        await ReviewService.DeleteReviewAsync(reviewId);
        ReviewList = await ReviewService.GetReviewsAsync(BookId);
    }
}